@charset "utf-8";
* { margin:0;	padding:0; }
body, html { width:100%; height:100%;}
a {text-decoration: none; color: black;}
p {color: black;}
ul { list-style:none;}
button {border:0 none; background-color:transparent; cursor:pointer;}
#wrap { width:100%; height:100%; }
.header { width:100%;	height:120px;  line-height:120px;	position:fixed; top:0; left:0; z-index:99; color: #fff;}
.gnb {float: right; width: 700px; }
.gnb li {float: left; margin-right: 20px;}
div.page { clear:both; width:100%;	height:100vh; overflow-y: hidden;position:relative; }
.page h1 { line-height:350px; }
div.main { background:url(../img/p1.jpg); } 
.sub3{background: url(../img/p1.jpg); background-repeat:no-repeat; background-size: cover;}

/*메뉴*/
.gnb {width: 100%; height: 60px; position: fixed; z-index: 999; background: rgba(255,255,255,0.6); box-shadow: 3px 3px 10px 1px gray; }
.menu { margin-left: 80px; }
.menu li {text-align: center; line-height:60px; margin-left: 20px; font-weight: bold;}


/*about me*/

.sub1_box {width: 1400px; height: 800px; margin: 0 auto; padding-top: 5%; position: relative; margin-left: 600px;}



.me_png {  float: left; margin-top: 200px;}
.flower_o { position: absolute; top: 265px;left: -30px;    }
.flower_o:hover {-webkit-animation-name: flower_ani;
                -webkit-animation-duration: 5s;
                animation-name: flower_ani;
                animation-duration: 10s;
}


@keyframes flower_ani { 
	0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}

.about_p{float: left; width: 650px; margin-left: 150px; margin-top: 100px;}
.about_p li{margin-bottom:20px;}
.about_p li p {line-height: 25px; }

.about_p h3 {color: #7a5099; font-size: 25px; margin-bottom: 7px; }   
.about_p .skill img {margin: 0px 5px;}

/*2*/
.sub2_box {clear: both; position:  relative;width: 70%; height: 100%; }

/**/


.main_title {color: red; position: absolute; left: 44%; top: 450px; font-size: 30px; font-weight: bold;}

/*스크롤바*/
.scroll_box { padding-top: 10px;}
.scroll {
  position: fixed;
  top: 90%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.scroll::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scr 2s infinite;
  animation: scr 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes scr {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scr {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*skill*/
.sub00 {background: #7a5099;}
.work_box {width: 1100px; height: 525px; margin: 0 auto; margin-top: 190px;}
.work_box li {height: 250px; float: left; background: #fff;display:block; position: relative;}

.work_box .wk_1 {width: 540px; margin-bottom: 25px;}
.work_box .wk_2 {width: 245px; margin: 0 25px;  margin-bottom: 25px;}
.work_box .wk_3 {width: 265px; margin-bottom: 25px;}
.work_box .wk_4 {width: 310px;}
.work_box .wk_5 {width: 370px; margin: 0 25px;}
.work_box .wk_6 {width: 370px;}


.wk_p {background: rgba(0,0,0,0.83); height: 250px; position: absolute; top: 0; left: 0;}
.work_box .wk_p1 {width: 540px;}
.work_box .wk_p2 {width: 245px;}
.work_box .wk_p3 {width: 265px;}
.work_box .wk_p4 {width: 310px;}
.work_box .wk_p5 {width: 370px;}
.work_box .wk_p6 {width: 370px;}
.wk_p p {text-align: center; font-size: 22px; line-height: 250px; color: #fff; }

.work_box li:hover .wk_p{display: none;}


/*포폴*/

#sub2 {height: 100%; width: 100%; overflow: hidden;}
.bb-custom-wrapper nav{position: relative;}
.port_tit {position: absolute; top: 390px; left: 50px; width: 600px; height: 27px;}
.port_tit h3{font-size: 20px; text-align: center;}

/*뎀1*/

.bb-custom-wrapper {
	width: 700px;
	position: relative;
	margin: 250px 0px 0px 200px;
	text-align: center;
}

.bb-custom-wrapper .bb-bookblock {
	box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6);
}


.bb-custom-wrapper nav {
	width: 100%;
	height: 30px;
	margin: 1em auto 0;
	position: relative;
    
	text-align: center;
}

.bb-custom-wrapper nav a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 2px;
	color: #fff;
	font-size: 0;
	margin: 2px;
}

.bb-custom-wrapper nav a:hover {
	opacity: 0.6;}

#bb-nav-prev {float: left;}
#bb-nav-next {float: right;}


/*내가쓴것*/

/*contact*/
.sub3_box {width: 1000px; height: 600px; margin: 0 auto;  margin-top: 150px; background: rgba(255,255,255,0.3); }
.contact_1 { width: 500px; height: 600px; padding-top: 200px; margin: 0 auto; float:left;}

.contact_1 li h3{color: #fff; text-align: center; line-height: 30px; } 
.contact_1 li p{color: #fff; text-align: center;line-height: 30px; margin-bottom: 30px;}

#frm {width: 400px; height: 600px; float: left; }
#frm legend {text-align: center; margin-bottom: 20px; font-size: 20px; color: #fff; font-weight: bold;} 
#c_tit {width: 400px; height: 25px; text-indent: 10px; }
#c_email {width: 400px; height: 25px; text-indent: 10px;}
#c_con {width: 400px; height: 250px; text-indent: 10px; }
#c_btn { width: 408px; height: 40px; background: #d47fb8; color: #fff;}
#c_btn:hover {background:  #7a5099; }

/**/
.container {float: left; margin-left: 100px;}
.sub2 {width: 100%; height: 100%;}
.port_p{float: right; width: 600px; height: 600px; margin-top: 300px; margin-right: 200px;}
.port_p .port_color {width: 300px; height: 130px;}
.port_p .port_color li {width: 100px; height: 100px; border-radius: 50px; float: left; }
.port_p .port_color li:nth-child(1) {position: relative;}
.port_p .port_color li:nth-child(2) {position: absolute;left: 1180px;}
.port_p .port_color li:nth-child(3) {position: absolute;left: 1250px;}

.port_color .p1_c1 {background-color: blue}
.port_color .p1_c2 {background-color: deepskyblue}
.port_color .p1_c3 {background-color: skyblue}

.port_txt h3 {margin-bottom: 20px;}
.port_txt p {line-height: 30px;}




